.pageLayout {
  display: grid;
  grid-template-rows: 55px 1fr 55px 1fr;
  gap: 12px;
  height: 100%;
}

.header {
  composes: card from '../../../styles/shared.module.css';
  align-self: start;
  padding: 0px 16px 0px 12px;
  border-radius: 12px;
}

.contentWrapper {
  padding: 0 24px 20px 24px;
}

.userInfo {
  composes: card from '../../../styles/shared.module.css';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  border-radius: 24px;
  text-align: center;
}

.profileImg {
  width: 130px;
}

.bio {
  composes: card from '../../../styles/shared.module.css';
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  padding: 8px 12px 5px 12px;
  border-radius: 24px;
}

.bioTextarea {
  height: 100%;
  width: 100%;
  padding: 2px 6px;
  background-color: inherit;
  border: none;
}

.buttonHolder {
  display: flex;
  gap: 6px;
  margin-top: 6px;
}

.primaryButton {
  composes: primaryButton from '../../../styles/shared.module.css';
  width: 100%;
}

.secondaryButton {
  composes: secondaryButton from '../../../styles/shared.module.css';
  width: 100%;
}
