.pageLayout {
  display: grid;
  grid-template-rows: 2fr 3fr 3fr;
  height: 100%;
  gap: 12px;
}

.horizontalWidgetGroup {
  display: flex;
  gap: 12px;
  width: 100%;
  max-width: 100%;
}

.widget {
  composes: card from '../../../styles/shared.module.css';
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  padding: 6px 10px 8px 10px;
  border-radius: 24px;
}

.title {
  align-self: start;
  font-family: 'rye', Arial, Helvetica, sans-serif;
}

.usernameWidget {
  composes: widget;
  width: 100%;
  overflow: wrap;
}

.username {
  composes: title from '../../../styles/shared.module.css';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profileImg {
  width: 110px;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 100%;
}

.bioTextarea {
  height: 100%;
  width: 100%;
  padding: 2px 6px;
  background-color: inherit;
  border: none;
}

.buttonHolder {
  display: flex;
  gap: 6px;
  margin-top: 6px;
}

.primaryButton {
  composes: primaryButton from '../../../styles/shared.module.css';
  width: 100%;
}

.secondaryButton {
  composes: secondaryButton from '../../../styles/shared.module.css';
  width: 100%;
}
