:root {
  --pink: #ff84ad;
  --lavender: #eecbef;
  --purple: #8f5bdd;
  --mountain-dew: #ffff9c;
  --green: #5bbd1e;

  position: relative;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}
