.header {
  composes: header from '../../../styles/shared.module.css';
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;
}

.backButton {
  background-color: inherit;
  border: none;
}

.messagesWrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;

  height: 100%;
  padding: 0 8px;
  overflow: scroll;
}

.messageWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.date {
  composes: card from '../../../styles/shared.module.css';
  align-self: center;
  width: fit-content;
  padding: 3px 12px;
  margin-top: 16px;
  border-radius: 24px;
}

.message {
  composes: contentItem from '../../../styles/shared.module.css';
  max-width: 200px;
  padding: 3px 12px;
}

.myMessage {
  composes: message;
  align-self: end;
  text-align: start;
}

.theirMessage {
  composes: message;
  align-self: start;
  text-align: start;
}

.time {
  color: gray;
  font-size: 0.8rem;
  text-align: end;
}
