.pageLayout {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  gap: 12px;
}

.header {
  composes: card from '../../../styles/shared.module.css';
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 6px;

  padding: 0px 16px 0px 12px;
  border-radius: 12px;
}

.backButton {
  background-color: inherit;
  border: none;
}

.messagesWrapper {
  composes: vertContainer from '../../../styles/shared.module.css';
  height: 100%;
  padding: 0;
  overflow: scroll;
}

.message {
  --offset: 68px;
  composes: vertContainerItem from '../../../styles/shared.module.css';
  padding: 3px 12px;
  width: fit-content;
}

.myMessage {
  composes: message;
  align-self: end;
}

.theirMessage {
  composes: message;
  align-self: start;
}
