.formWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formCard {
  padding: 6px;
}

.formCard > * {
  display: block
}

.formCard button {
  width: 100%;
}