.pageLayout {
  display: grid;
  grid-template-rows: 50px 1fr 46px;
  gap: 12px;
  height: 100%;
}

.header {
  composes: header from '../../../styles/shared.module.css';
  align-self: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loadingWrapper {
  composes: card from '../../../styles/shared.module.css';
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 24px 0;
  border-radius: 12px;
  text-align: center;
}

.chatWrapper {
  composes: vertContainer from '../../../styles/shared.module.css';
  padding: 0 8px;
  align-items: start;
}

.chatItemWrapper {
  composes: vertContainerItem from '../../../styles/shared.module.css';
  padding: 1px 16px 1px 8px;
}

.chatItem {
  display: grid;
  grid-template-columns: 46px 1fr;
  column-gap: 6px;

  width: fit-content;
  padding: 0;
  border: none;
  background-color: inherit;
}

.profilePicture {
  grid-row: span 2;
  align-self: center;
}

.chatContent {
  text-align: left;
  overflow: hidden;
}

.chatUsernames {
  composes: chatContent;
  align-self: flex-end;
}

.latestMessage {
  composes: chatContent;
  align-self: flex-start;
}
