.pageLayout {
  padding: 36px 18px;
  background-image: url('../../../assets/backgroundImages/gyro-headshot.png');
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.title {
  font-size: 2rem;
  font-family: 'rye', Arial, Helvetica, sans-serif;
}

.iconButton {
  height: 32px;
  width: 32px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
}

.iconButton img {
  height: 100%;
  width: 100%;
}
