.pageLayout {
  display: grid;
  grid-template-rows: 60px 65px 1fr;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 12px;
  border-radius: 12px;
}

.title {
  font-size: 2rem;
  font-family: 'rye', Arial, Helvetica, sans-serif;
}

.sectionTitle {
  text-align: center;
  border-radius: 12px;
}

.loadingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px 0;
}

.chatsWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 50px;
  overflow: scroll;
}

.chatCard {
  border-radius: 12px;
}

.chatItem {
  display: grid;
  grid-template-columns: 72px 1fr;
  width: 100%;

  border: none;
  background-color: inherit;
}

.profilePicture {
  grid-row: span 2;
  align-self: center;
}

.chatContent {
  text-align: left;
  margin-left: 8px;
  overflow: hidden;
}

.chatUsernames {
  composes: chatContent;
  align-self: flex-end;
}

.latestMessage {
  composes: chatContent;
  align-self: flex-start;
}
