.userItemWrapper {
  composes: contentItem from '../../../styles/shared.module.css';
  padding: 1px 8px 1px 8px;
}

.userItem {
  display: grid;
  grid-template-columns: 46px 1fr 24px;
  align-items: center;
  justify-content: center;
  column-gap: 6px;

  padding: 0;
  border: none;
  background-color: inherit;
}

.username {
  text-align: left;
  font-weight: lighter;
  overflow: hidden;
}
