.pageLayout {
  display: grid;
  grid-template-rows: 85px 40px 1fr 40px;
  gap: 12px;
  height: 100%;
}

.header {
  composes: card from '../../../styles/shared.module.css';
  align-self: start;
  padding: 0px 16px 0px 12px;
  border-radius: 12px;
}

.sectionTitle {
  composes: card from '../../../styles/shared.module.css';
  padding-left: 12px;
  border-radius: 12px;
  text-align: center;
}

.userItem {
  display: grid;
  grid-template-columns: 38px 1fr 42px;
  align-items: center;
  justify-content: center;
  width: 100%;

  border: none;
  background-color: inherit;
}

.username {
  text-align: left;
  margin-left: 18px;
  overflow: hidden;
}

.valentineButton {
  composes: button from '../../../styles/shared.module.css';
  --orange: #f16b0a;
  --yellow: #f8e299;

  justify-self: center;
  width: fit-content;
  padding: 0 24px;
  color: var(--yellow);
  background-color: var(--orange);
  border-color: var(---yellow);
}

.valentineButton:hover {
  background-color: var(--yellow);
  color: var(--orange);
}