.pageLayout {
  display: grid;
  grid-template-rows: 50px 1fr 54px;
  height: 100%;
}

.loadingWrapper {
  composes: card from '../../../styles/shared.module.css';
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 24px 0;
  border-radius: 12px;
  text-align: center;
}

.usersWrapper {
  composes: vertContainer from '../../../styles/shared.module.css';
  padding: 0 8px;
  align-items: start;
}

.userItemWrapper {
  composes: vertContainerItem from '../../../styles/shared.module.css';
  padding: 1px 4px 1px 4px;
}

.userItem {
  display: grid;
  grid-template-columns: 46px 1fr 24px;
  column-gap: 6px; 
  align-items: center;
  justify-content: center;

  border: none;
  background-color: inherit;
}

.username {
  text-align: left;
  font-weight: lighter;
  overflow: hidden;
}

.valentineButton {
  composes: button from '../../../styles/shared.module.css';
  --orange: #f16b0a;
  --yellow: #f8e299;

  justify-self: center;
  width: fit-content;
  padding: 0 24px;
  color: var(--yellow);
  background-color: var(--orange);
  border-color: var(---yellow);
}

.valentineButton:hover {
  background-color: var(--yellow);
  color: var(--orange);
}

.valentineButton:disabled {
  filter: grayscale(60%);
}
