.toaster {
  position: absolute;
  top: 8px;
  left: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.toastBase {
  position: relative;
  left: -50%;
  width: fit-content;
  padding: 2px 24px;
  border-radius: 10px;
  text-align: left;
  animation: fade-in-fade-out 2s ease-out;
  opacity: 0;
  text-wrap: nowrap;
}

.toast {
  composes: toastBase;
  --r: 103;
  --g: 193;
  --b: 34;

  border: 2px solid rgba(var(--r), var(--g), var(--b), 0.75);
  background-image: linear-gradient(
    45deg,
    rgba(var(--r), var(--g), var(--b), 0.6),
    rgba(var(--r), var(--g), var(--b), 0.7),
    rgba(var(--r), var(--g), var(--b), 0.85),
    rgba(var(--r), var(--g), var(--b), 0.85),
    rgba(var(--r), var(--g), var(--b), 0.7),
    rgba(var(--r), var(--g), var(--b), 0.6)
  );
}

.errorToast {
  composes: toastBase;
  --r: 255;
  --g: 148;
  --b: 148;

  border: 2px solid rgba(var(--r), var(--g), var(--b), 0.75);
  background-image: linear-gradient(
    45deg,
    rgba(var(--r), var(--g), var(--b), 0.6),
    rgba(var(--r), var(--g), var(--b), 0.8),
    rgba(var(--r), var(--g), var(--b), 0.85),
    rgba(var(--r), var(--g), var(--b), 0.85),
    rgba(var(--r), var(--g), var(--b), 0.8),
    rgba(var(--r), var(--g), var(--b), 0.6)
  );
}

@keyframes fade-in-fade-out {
  from {
    opacity: 0;
  }
  15% {
    opacity: 100;
  }
  85% {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
